/* 公共样式 */

.my-header {
  background: #006699;
  overflow: hidden;
}

.my-header h1 {
	color: #FFF;
}

.my-header .mui-icon-search {
	color: #FFF;
}

.my-footer {
	background: #006699;
}

.my-footer .mui-tab-item {
	color: #FFF;
}

.my-footer .mui-tab-item.mui-active {
	color: darkorange;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

