body,
html {
  height: 100%;
}
.iscoll {
  width: 100%;
  height: 100%;
  padding: 44px 0 50px 0;
}
.iscoll .left {
  float: left;
  width: 80px;
  height: 100%;
  position: relative;
}
.iscoll .left .links {
  display: block;
  height: 45px;
  text-align: center;
  line-height: 45px;
  color: black;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
}
.iscoll .left .links.active {
  border-right: 1px solid transparent;
  background-color: #f5f5f5;
}
.iscoll .right {
  margin-left: 90px;
  height: 100%;
  position: relative;
}
.iscoll .right ul {
  margin-top: 10px;
  background-color: #fff;
}
.iscoll .right ul li {
  width: 33.33%;
  float: left;
}
.iscoll .right ul li img {
  display: block;
  width: 100%;
}
.iscoll .right ul li p {
  text-align: center;
}
