.search {
  width: 100%;
  padding: 10px;
}
.search .search-b {
  position: relative;
}
.search .search-b .pit {
  width: 100%;
  height: 30px;
  padding-right: 70px;
  font-size: 14px;
  color: #474747;
  border: 1px solid #006699;
  border-radius: 0;
}
.search .search-b .ipt {
  position: absolute;
  width: 60px;
  height: 30px;
  border: none;
  right: 0;
  top: 0;
  background-color: #006699;
  border-radius: 0;
  color: #fff;
}
.search .search-hold {
  width: 100%;
  font-size: 14px;
  color: #8f8f94;
}
.search .search-hold span {
  float: left;
}
.search .search-hold div {
  float: right;
}
.search .search-hold div span {
  font-size: 14px;
  line-height: 20px;
}
