.mui-play {
  height: 100%;
  margin-top: 44px;
  margin-bottom: 50px;
  background-color: #fff;
}
.mui-play .introduce {
  width: 100%;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.mui-play .well {
  width: 100%;
  font-size: 14px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.mui-play .well span {
  font-size: 30px;
  color: rgba(255, 0, 0, 0.493);
}
.mui-play .well i {
  font-style: none;
  text-decoration: line-through;
  color: #ccc;
  margin-left: 5px;
}
.mui-play .size {
  width: 100%;
  padding: 10px;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
}
.mui-play .size span {
  display: inline-block;
  padding: 4px 4px;
  margin: 10px 0 0 10px;
  border: 1px solid #ccc;
}
.mui-play .size span.active {
  color: #fff;
  background-color: #fa672d;
}
.mui-play .mun {
  padding: 10px;
  overflow: hidden;
  font-size: 14px;
  line-height: 28px;
}
.mui-play .mun .selectNum {
  margin-right: 10px;
  margin-left: 10px;
}
.mui-play .mun .selectNum input {
  width: 28px;
  height: 28px;
  margin: 0;
  padding: 0;
  border-radius: 0;
  float: left;
  border-left: 0;
  border-right: 0;
  font-size: 14px;
  text-align: center;
}
.mui-play .mun .selectNum span {
  float: left;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
  border: 1px solid #ccc;
}
.mui-play .botton {
  padding: 10px;
  overflow: hidden;
}
.mui-play .botton div {
  float: left;
  width: 50%;
  text-align: center;
}
.mui-play .botton .botton-l {
  line-height: 30px;
  color: #fff;
  background-color: yellow;
}
.mui-play .botton .botton-r {
  color: #fff;
  line-height: 30px;
  background-color: pink;
}
